.Spinner-logo {
  animation: Spinner-logo-spin infinite 6s linear;
  width: 500px;
}

@keyframes Spinner-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
