.header {
  width: 100%;
  background-color: #2f3238;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
}

.header Button {
  margin: 0.5em;
}

.header a:hover,
.header a {
  color: inherit;
  text-decoration: none;
}
