.header {
  width: 100%;
  background-color: #2f3238;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
}
.header em {
  font-size: 0.6em;
  float: right;
  margin-right: 1em;
}
.header Button {
  margin: 0.5em;
}

.header a:hover,
.header a {
  color: inherit;
  text-decoration: none;
}

.header-title {
  display: flex;
  justify-content: flex-start;
}
.header-button {
  display: flex;
  justify-content: flex-end;
}
