.App {
  text-align: center;
  background-image: url("./assets/stock-market-1.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: rgb(255, 255, 255);
  min-height: 100vh;

  /* FOR STICKY BOTTOM FOOTER */
  padding-bottom: 50px;
}
.background-opacity {
  width: 100%;
  min-height: calc(100vh - var(--footer-height));
  background-color: rgba(0, 0, 0, 0.3);
}
.main-content {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-menu {
  background-color: grey;
  height: 500px;
}
