.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  color: white;
  padding-bottom: 50px;
}

.main-content {
  background-color: green;
}

.right-menu {
  background-color: grey;
  height: 500px;
}
